<div class="address_template" data-snip="addr">
  <div class="accordion_title clickable">
    <div class="column">
      <a class="addr_title" href="#"></a>
    </div>
    <div class="right del">
      <a href=""><span class="sprite sprite-minus" /></a>
    </div>
  </div>
  <div class="accordion_content">
    <div class="fields">
      <div class="row">
        <label for="addr_region" data-loc="region"></label><input id="addr_region" type="text" name="addr_region" />
      </div>
      <div class="row">
        <label for="addr_city" data-loc="city"></label><input id="addr_city" type="text" name="addr_city" />
      </div>
      <div class="row">
        <label for="addr_addr" data-loc="address"></label><input id="addr_addr" type="text" name="addr_addr" />
      </div>
      <div class="row">
        <label for="addr_zip" data-loc="zip"></label><input id="addr_zip" type="text" name="addr_zip" />
      </div>
    </div>
  </div>
</div>
