     <div id="cart_popup">
       <div>
         <div id="cart_content">
         </div>
         <div id="order">
           <form>
             <div><label>Nume</label><input type="text"/></div>
             <div><label>Prenume</label><input type="text"/></div>
             <div><label>Judet/Sector</label><input type="text"/></div>
             <div><label>Localitatea</label><input type="text"/></div>
             <div><label>Adresa</label><input type="text"/></div>
             <div><label>E-Mail</label><input type="text"/></div>
             <div><label>Telefon</label><input type="number"/></div>
           </form>
         </div>
       </div>
       <div class="cart_footer">
         <span id="total">0 RON</span>
         <a id="buy_step1" href="#" data-loc="buy_step1"/>
         <a id="buy_final" href="#" data-loc="buy_final"/>
         <a id="buy_step_cancel" href="#" data-loc="buy_cancel"/>
       </div>
     </div>
     
     