<ul>
  <li data-permissions="write">
    <div class="cat_box">
      <img class="add_item" src="/static/images/add-item.png" />
    </div>
  </li>
  <li data-snip="item">
    <div class="cat_box">
      <div class="edit_tag">
        <div class="edit_tag_close" data-permissions="write">
          <img src="/static/images/close.png" />
        </div>
        <div class="edit_tag_update" data-permissions="write">
          <img src="/static/images/edit.png" />
        </div>
      </div>
      <div class="info_tag">
        <div class="info_tag_text cat_text"></div>
      </div>
    </div>
  </li>
</ul>
