<ul>
  <li data-permissions="write">
    <div class="cat_box cat_add_item">
      <div class="sprite sprite-add-item-small"></div>
    </div>
  </li>
  <li data-snip="item">
    <div class="cat_box">
      <div class="edit_tag">
        <div class="edit_tag_close" data-permissions="write">
          <span class="sprite sprite-close" />
        </div>
        <div class="edit_tag_update" data-permissions="write">
          <img class="sprite sprite-edit" />
        </div>
      </div>
      <div class="info_tag cat_info_tag">
        <div class="info_tag_text cat_text"></div>
      </div>
    </div>
  </li>
</ul>
