<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css' />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/purl.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
</head>

<body>
  <div class="wrap">
    <div class="header">
      <div id="cart_popup">
        <div id="cart_empty" data-loc="cart.empty"></div>
        <div id="cart_notice"></div>
        <div>
          <div id="cart_content"></div>
          <div id="order">
            <form id="order_form">
              <div>
                <label for="lname" data-loc="order.last.name"></label><input id="lname" name="lname" type="text" />
              </div>
              <div>
                <label for="fname" data-loc="order.first.name"></label><input id="fname" name="fname" type="text" />
              </div>
              <div>
                <label for="region" data-loc="order.region"></label><input id="region" name="region" type="text" />
              </div>
              <div>
                <label for="city" data-loc="order.city"></label><input id="city" name="city" type="text" />
              </div>
              <div>
                <label for="address" data-loc="order.address"></label><input id="address" name="address" type="text" />
              </div>
              <div>
                <label for="email" data-loc="order.email"></label><input id="email" name="email" type="text" />
              </div>
              <div>
                <label for="phone" data-loc="order.phone"></label><input id="phone" name="phone" type="number" />
              </div>
              <div>
                <div id="terms_wrapper">
                  <input id="terms" name="terms" type="checkbox" /> <label for="terms" data-loc="terms.and.conds"></label>
                </div>
                <div>
                  <a id="terms_link" href="/terms" target="_blank" data-loc="terms.link"></a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div id="cart_footer">
          <span id="total">0 RON</span> <a id="buy_step1" href="#" data-loc="buy_step1"></a> <a id="buy_final" href="#" data-loc="buy_final"></a>
        </div>
      </div>


      <div id="product_title">
        <div id="cart_symbol">
          <a href="#"><img src="/static/images/cart.png" /></a>
        </div>
        <div id="title_text">
          <h1 data-snip="title"></h1>
        </div>
        <div id="search">
          <div>
            <input id="search_text" type="text" />
          </div>
          <a href="#" id="gosearch"><img src="/static/images/search.png" /></a>
        </div>
        <div id="logo">
          <a href="/"><img src="/static/images/idid-small.png" /></a>
        </div>
      </div>
    </div>
    <div id="notice"></div>
    <div id="content"></div>
  </div>

  <div class="footer">
    <div class="center">
      <ul>
        <li>Copyright (c) 2014</li>
        <li>Contact: <a href="mailto:office@idid.ro">office@idid.ro</a></li>
        <li><a href="/terms" target="_blank" data-loc="terms.link"></a></li>
      </ul>
    </div>
  </div>
</body>
</html>

