
<div class="container">
	<div class="row">
		<div class="col-md-4 animate-box">
			<div class="fh5co-inner">
				<div class="holder-section">
					<h3>Contact</h3>
					<ul>
						<li>E-mail: <a href="mailto:office@idid.ro">office@idid.ro</a></li>
						<li>Telefon: 0724-556226</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 animate-box">
			<div class="fh5co-inner">
				<div class="holder-section">
					<h3>Condiții</h3>
					<ul>
						<li><a href="#">Termeni și condiții</a></li>
						<li><a href="#">Protecția datelor</a></li>
						<li><a href="#">Politica de retur</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 animate-box">
			<div class="fh5co-inner">
				<div class="holder-section">
					<h3>Info</h3>
					<ul>
						<li><a href="#">Cookie-uri</a></li>
						<li><a href="http://www.anpc.gov.ro/">ANPC</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
