<footer>
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<p>
						Copyright 2017 <a href="http://idid.ro/">IDID</a>. Toate drepturile rezervate<br />
						Web design realizat de <a href="http://media90.ro/"
							target="_blank"><img
                            src="http://media90.ro/media90-negru.png"
                            alt="MEDIA90" style="vertical-align: middle;"/></a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
