
<div class="container">
	<div class="row">
		<div class="col-md-3 animate-box">
			<div class="fh5co-inner">
				<div class="holder-section">
					<h3>Contact</h3>
					<ul>
						<li>E-mail: <a href="mailto:office@idid.ro">office@idid.ro</a></li>
						<li>Telefon: 0724-556226</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-3 animate-box">
			<div class="fh5co-inner">
				<div class="holder-section">
					<h3>Condiții</h3>
					<ul>
						<li><a href="/terms">Termeni și condiții</a></li>
						<li><a href="/dataprotection">Protecția datelor</a></li>
						<li><a href="/returnpolicy">Politica de retur</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-3 animate-box">
			<div class="fh5co-inner">
				<div class="holder-section">
					<h3>Facebook</h3>
					<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=958732510907548";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-page" data-href="https://www.facebook.com/idid.ro/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/idid.ro/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/idid.ro/">I did</a></blockquote></div>
				</div>
			</div>
		</div>
		<div class="col-md-3 animate-box">
			<div class="fh5co-inner">
				<div class="holder-section">
					<h3>Info</h3>
					<ul>
						<li><a href="/cookies">Cookie-uri</a></li>
						<li><a href="http://www.anpc.gov.ro/">ANPC</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
