<div class="header">
  <div data-snip="cart_popup"></div>
  <div id="product_title">
    <div id="cart_symbol">
      <a href="#"><img src="/static/images/cart.png" /></a>
    </div>
    <div id="title_text">
      <h1 data-snip="title"></h1>
    </div>
    <div id="search">
      <div>
        <input id="search_text" type="text" />
      </div>
      <a href="#" id="gosearch"><img src="/static/images/search.png" /></a>
    </div>
    <div id="logo"><a href="/"><img src="/static/images/idid-small.png"/></a></div>
  </div>
</div>