<div class="header">
  <div id="site_name">
    <a href="/"><img src="/static/images/logo.png"/></a>
  </div>
  <div data-snip="cart_popup"></div>
  <div id="product_title">
    <div id="cart_symbol">
      <a href="#"><img src="/static/images/cart.png" /></a>
    </div>
    <div id="title_text">
      <h1 data-snip="title"></h1>
    </div>
    <div id="search">
      <div>
        <input id="search_text" type="text" />
      </div>
      <img src="/static/images/search.png" />
    </div>
  </div>
</div>