
<header role="banner" id="fh5co-header">
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="row">
				<div class="col-md-3">
					<div class="fh5co-navbar-brand">
						<a class="fh5co-logo" href="/"><img
							src="/static/images/logo.svg" alt="logo" width="250px" /></a>
					</div>
				</div>
				<div class="col-md-9 main-nav">
					<ul class="nav text-right">
						<li class="active"><a href="/"><span>Acasâ</span></a></li>
						<li><a href="#">Despre Noi</a></li>
						<li><a href="#">Promoții</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="/cart"><span class="icon-cart"></span><span
								class="left_10">Coș (<span id="cart_num">0</span>)
							</span></a></li>
						<li><a id="login" href="<!-- inline:logout -->"><span class="<!-- inline:auth_class -->"></span></a></li>
					</ul>
				</div>
			</div>
			<div id="login-box" class="row login">
				<form action="/auth" id="login_form" method="POST">
					<div class="row">
						<label for="username">E-mail </label><input id="username" type="text" />
						<label for="password">Parola </label><input id="password"
							type="password" />
					</div>
				</form>
			</div>
		</nav>
	</div>
</header>