<div id="notice_e"></div>
<div id="notice_connect_e" data-snip="connect_error"></div>
<div id="notice_i"></div>

<header role="banner" id="fh5co-header">
    <div id="fb-root"></div>
    <script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=915281988516999";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));


    </script>

    <div class="container">
        <nav class="navbar navbar-default">
            <div class="row">
                <div class="col-md-2">
                    <div class="fh5co-navbar-brand">
                        <a class="fh5co-logo" href="/"><img
                                src="/static/images/logo.svg" alt="logo" width="250px"/></a>
                    </div>
                </div>
                <div class="col-md-10 main-nav">
                    <ul class="nav text-right">
                        <li class="active"><a href="/"><span>Acasă / Magazin</span></a></li>
                        <li><a href="/aboutus">Despre Noi</a></li>
                        <li><a href="http://blog.idid.ro" target="_blank">Blog</a></li>
                        <li><a id="cart_link" href="/cart"><span class="icon-cart"></span><span
                                class="left_10">Coș (<span id="cart_num">0</span>)
							</span></a></li>
                        <!-- snip:logged_user -->
                        <li><a href="/accountsettings">Contul meu</a></li>
                        <!-- end -->
                        <li><a id="search-icon" href="#"><span
                                class="icon-search2"></span></a></li>
                        <!-- snip:logged_user -->
                        <li><a id="logout-icon" href="/logout">
                            <span class="icon-exit"></span></a>
                        </li>
                        <!-- end -->
                    </ul>
                    <!-- snip:logged_user -->
                    <div class="welcome">
                        Bine ai venit  <b><!-- inline:user_name --></b>
                    </div>
                    <!-- end -->
                </div>
            </div>

            <div id="search-box" class="row search">
                <div class="row">
                    <input id="search" type="text" placeholder="Căutare produse"/>
                </div>
            </div>

            <!-- snip:permissions(write) -->
            <a href="/saveproduct">
                <div class="add_prod_btn btn">Adaugă produs</div>
            </a>
            <a href="/savecategory">
                <div class="add_cat_btn btn">Adaugă categorie</div>
            </a>
            <!-- end -->
        </nav>
    </div>
    <div class="container submeniu">

        <div class="col-md-12 main-nav">
            <ul class="nav">
                <li class="produsehandmade">Produse Handmade:</li>
                <!--snip:catmenu-->
                <li><a><span></span></a></li>
                <!--end-->
            </ul>

        </div>

    </div>
    <div class="fb-like" data-href="https://www.facebook.com/idid.ro/" data-layout="box_count" data-action="like"
         data-size="small" data-show-faces="false" data-share="true"></div>
</header>