
<div class="accordion">

  <div data-snip="orders">
    <div class="accordion_title clickable">
      <span><a href="#" class="order_title"></a></span> <span class="status"></span> <select class="edit_status">
        <option value="0" data-loc="received"></option>
        <option value="1" data-loc="pending"></option>
        <option value="2" data-loc="finalized"></option>
        <option value="-1" data-loc="canceled"></option>
      </select>
    </div>
    <div class="accordion_content order_content">
      <table>
        <tr>
          <th data-loc="product"></th>
          <th data-loc="title"></th>
          <th data-loc="quantity"></th>
          <th data-loc="unit.price"></th>
        </tr>
        <tr class="order_items">
          <td align="center"><img class="c1" width="50" height="57" /></td>
          <td align="center" class="c2"></td>
          <td align="center" class="c3"></td>
          <td align="center" class="c4"></td>
        </tr>
      </table>

      <div class="row_simple top20">
        <span data-loc="total"></span> <span class="total"></span> Lei
      </div>
    </div>

  </div>
</div>