
<div class="accordion">

  <div data-snip="orders">
    <div class="accordion_title clickable">
      <span><a href="#" class="order_title"></a></span> <span class="status"></span> <select class="edit_status">
        <option value="0" data-loc="received"></option>
        <option value="1" data-loc="pending"></option>
        <option value="2" data-loc="finalized"></option>
        <option value="-1" data-loc="canceled"></option>
      </select>
    </div>
    <div class="accordion_content order_content">
      <div id="person_info" >
        <table class="order_info">
          <tr>
            <td align="left"><span id="field" data-loc="order.id"></span></td>
            <td align="left"><span id="oid"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="last.name"></span></td>
            <td align="left"><span id="lname"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="first.name"></span></td>
            <td align="left"><span id="fname"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="region"></span></td>
            <td align="left"><span id="region"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="city"></span></td>
            <td align="left"><span id="city"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="address"></span></td>
            <td align="left"><span id="address"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="email"></span></td>
            <td align="left"><span id="email"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="phone"></span></td>
            <td align="left"><span id="phone"></span></td>
          </tr>

        </table>
      </div>

      <div id="company_info">
        <table class="order_info">
          <tr>
            <td align="left"><span id="field" data-loc="order.id"></span></td>
            <td align="left"><span id="oid"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="company.name"></span></td>
            <td align="left"><span id="cname"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="company.cif"></span></td>
            <td align="left"><span id="cif"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="company.reg.com"></span></td>
            <td align="left"><span id="cregcom"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="company.bank"></span></td>
            <td align="left"><span id="cbank"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="company.bank.account"></span></td>
            <td align="left"><span id="cbankaccount"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="region"></span></td>
            <td align="left"><span id="cregion"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="city"></span></td>
            <td align="left"><span id="ccity"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="address"></span></td>
            <td align="left"><span id="caddress"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="email"></span></td>
            <td align="left"><span id="cemail"></span></td>
          </tr>
          <tr>
            <td align="left"><span data-loc="phone"></span></td>
            <td align="left"><span id="cphone"></span></td>
          </tr>
        </table>
      </div>
      <table>
        <tr>
          <th data-loc="product"></th>
          <th data-loc="title"></th>
          <th data-loc="quantity"></th>
          <th data-loc="unit.price"></th>
        </tr>
        <tr class="order_items">
          <td align="center"><img class="c1" width="50" height="57" /></td>
          <td align="center" class="c2"></td>
          <td align="center" class="c3"></td>
          <td align="center" class="c4"></td>
        </tr>
      </table>

      <div class="row top20">
        <div class="transport"></div>
      </div>

      <div class="row top20">
        <span data-loc="total"></span> <span class="total"></span> Lei
      </div>
    </div>

  </div>
</div>