
<div class="product_content quickview">
  <div id="title_dialog">
    <h1 data-snip="title"></h1>
  </div>
  <div id="close_dialog">
    <a href="#"><img src="/static/images/close.png" /></a>
  </div>
  <div id="content_dialog">
    <div id="pleft">
      <div data-snip="images">
        <div id="detail_box">
          <b:img />
        </div>
      </div>
    </div>
    <div id="pright">
      <div class="prod_details">
        <div class="prod_header">
          <div id="add_to_cart_box">
            <a id="add_to_cart" href="#"><img src="/static/images/cart_black.png" /></a>
          </div>
          <div class="detailPrice">
            <span data-snip="detailPrice"></span>
          </div>
        </div>
        <div class="prod_desc">
          <div data-snip="details"></div>
        </div>
      </div>
    </div>
  </div>
</div>
