<div class="accordion">
  <div data-snip="users">
    <div class="accordion_title clickable">
      <div>
        <a href="#"><span class="user_title"></span></a>
      </div>
    </div>
    <div class="accordion_content user_content">
      <div class="row_simple">
        <div class="column">
          <div class="row_simple">
            <span class="column width100" data-loc="first.name"></span> <span class="column left10 right" id="update_firstName"></span>
          </div>
          <div class="row_simple">
            <span class="column width100" data-loc="last.name"></span><span class="column left10 right" id="update_lastName"></span>
          </div>
          <div class="row_simple">
            <span class="column width100" data-loc="cnp"></span><span class="column left10 right" id="update_cnp"></span>
          </div>
          <div class="row_simple">
            <span class="column width100" data-loc="phone"></span><span class="column left10 right" id="update_phone"></span>
          </div>
        </div>

        <div class="column left30 left_sep">
          <div class="row_simple">
            <span class="column width100" data-loc="company.name"></span><span id="update_cname"></span>
          </div>
          <div class="row_simple">
            <span class="column width100" data-loc="company.cif"></span><span id="update_cif"></span>
          </div>
          <div class="row_simple">
            <span class="column width100" data-loc="company.reg.com"></span><span id="update_cregcom"></span>
          </div>
          <div class="row_simple">
            <span class="column width100" data-loc="company.bank"></span><span id="update_cbank"></span>
          </div>
          <div class="row_simple">
            <span class="column width100" data-loc="company.bank.account"></span><span id="update_cbankaccount"></span>
          </div>
          <div class="row_simple">
            <span class="column width100" data-loc="phone"></span><span id="update_cphone"></span>
          </div>
        </div>

        <div class="column left30 left_sep">
          <ul>
            <li id="addresses"></li>
          </ul>
        </div>

      </div>
      <div class="row_simple">
        <div class="deleteuser">
          <span class="btn delusr" data-loc="delete.user"></span>
        </div>
      </div>

    </div>
  </div>
</div>