html, body {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	line-height: 1.5em;
	height: 100%;
	overflow-x: hidden;
}

* {
	outline: medium none;
	margin: 0;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 14pt;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #000000;
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	float: left;
}

li {
	float: left;
}

#notice_e, #notice_connect_e {
	background-color: #B43104;
	border: 1px solid #8A2908;
	color: #ffffff;
	font-size: 20px;
	padding-top: 5px;
	position: relative;
	text-align: center;
	width: 100%;
	display: none;
	z-index: 9999;
}

#notice_i {
	background-color: #4B8A08;
	border: 1px solid #38610B;
	color: #ffffff;
	font-size: 20px;
	padding-top: 5px;
	position: relative;
	text-align: center;
	width: 100%;
	display: none;
	z-index: 9999;
}

.menu {
	padding: 0;
	clear: both;
	margin-bottom: 10px;
	margin-top: 10px;
}

.menu li {
	display: inline;
	float: left;
}

.menu li a {
	float: left;
	padding: 10px;
	text-decoration: none;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}

.menu li.active a {
	float: left;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-radius: 10px 10px 0px 0px;
}

.left {
	float: left;
}

.header {
	position: relative;
	width: 100%;
	z-index: 80;
	color: #ffffff;
	height: 150px;
	background: #296872;
}

.width100 {
	width: 100%;
}

#logo {
	top: 10px;
	margin: auto;
	width: 209px;
	position: relative;
}

#logo_img {
	background-image: url('/static/images/idid_blue_l.png');
	background-repeat: no-repeat;
	width: 209px;
	height: 126px;
}

.btn {
	padding: 3px 10px 3px 10px;
	border: 1px solid #999999;
	text-decoration: none;
	position: relative;
	display: inline-block;
	font-size: 12pt;
	text-align: center;
	float: left;
}

.btn:hover {
	border: 1px solid #000000;
	background: #efefef;
	text-decoration: none;
	cursor: pointer;
}

#content, .categories, .products {
	width: 100%;
	position: relative;
}

#content {
	height: 100%;
}

.categories, .products {
	display: inline-block;
	margin-bottom: 20px;
}

.categories ul, .products ul {
	width: 100%;
}

.cat_card:hover {
	background-color: #eee;
}

.categories ul li {
	width: 50%;
	position: relative;
	text-align: center;
}

.cat_card #pic {
	margin: auto;
	display: block;
	position: relative;
	top: 25px;
	overflow: hidden;
	position: relative;
}

.cat_card #title {
	clean: both;
	margin: auto;
	display: block;
	position: relative;
	margin-top: 20px;
	font-size: 18pt;
}

.cat_card {
	border-radius: 20px;
	border: 1px solid #333;
	display: block;
	margin: 10px;
}

.search {
	width: 100%;
	display: none;
	clear: both;
}

.tools {
	width: 100%;
}

.tools .box {
	padding: 10px;
	background: #5998A2;
	overflow: hidden;
}

.tools .box .icon {
	height: 32px;
	width: 32px;
	float: left;
	margin-top: 5px;
	cursor: pointer;
	margin-right: 15px;
}

.search #text {
	height: 40px;
	border: none;
	width: 100%;
	color: #fff;
	background: #333;
	font-size: 24px;
}

.products {
	white-space: nowrap;
}

.products ul li {
	width: 100%;
	height: 120px;
	border-bottom: 1px solid #ddd;
}

.products ul li a {
	width: 100%;
	display: inline-block;
}

.products .prod_pic {
	width: 100px;
	height: 114px;
	margin-top: 5px;
	margin-right: 10px;
	float: left;
}

.prod_content {
	position: relative;
	vertical-align: top;
	margin-left: 10px;
	margin-top: 5px;
}

.prod_price {
	font-size: 16pt;
	float: right;
	margin-right: 10px;
	margin-top: 15px;
	color: #ff0000;
}

.prod_title {
	font-size: 14pt;
	overflow: hidden;
}

.product #prod_view {
	margin: auto;
	width: 312px;
	height: 356px;
	position: relative;
}

.product .prod_header {
	width: 100%;
	position: relative;
	height: 60px;
	padding: 10px;
}

.product .prod_header .prod_price {
	float: right;
	margin-top: 10px;
	font-size: 16pt;
}

.product .prod_controls {
	position: relative;
	padding: 20px;
	clear: both;
}

.product .prod_controls .btn {
	width: 100%;
}

.product .prod_desc {
	width: 100%;
	padding: 10px;
	clear: both;
}

.row {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	text-align: left;
	clear: both;
	width: 100%;
}

.column {
	position: relative;
	float: left;
}

.cart_form label {
	margin-left: 10px;
}

.cart_form label[for=terms], .cart_form label[for=cterms] {
	font-size: 10pt;
	float: right;
	margin-right: 10px;
}

.cart_form input[type=text] {
	float: right;
	margin-right: 10px;
	width: 60%;
}

.cart_form input[type=checkbox] {
	margin-left: 10px;
}

.right_arrow {
	float: right;
	margin-right: 10px;
}

.left_arrow {
	float: left;
	margin-left: 10px;
}

.cart_form {
	width: 100%;
}

.height40 {
	height: 40px;
}

#order_info {
	clear: both;
	width: 100%;
	display: none;
}

.prod_number {
	margin-top: 10px;
}

.prod_number input {
	width: 50px;
}

.prod_remove {
	margin-top: 10px;
}

.left10 {
	margin-left: 10px;
}

#step1, #step3 {
	display: none;
}

.transport {
	float: right;
}

#login {
	padding-left: 20px;
	background-color: #ccc;
	clear: both;
	width: 100%;
	display: none;
}

#login label {
	float: left;
	margin-top: 10px;
}

#login input {
	disaply: inline-block;
	width: calc(100% - 100px);
	background-color: #999;
	border: none;
	margin-left: 20px;
	float: right;
	height: 48px;
	margin-right: 20px;
	font-size: 24px;
}

#login .row {
	height: 60px;
}