html, body {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	line-height: 1.5em;
	height: 100%;
	white-space: nowrap;
	overflow-x: hidden;
}

* {
	outline: medium none;
	margin: 0;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 16pt;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #000000;
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	float: left;
}

li {
	float: left;
}

.left {
	float: left;
}

.header {
	position: relative;
	width: 100%;
	z-index: 80;
	color: #ffffff;
	height: 150px;
	background: #296872;
}

#logo {
	top: 10px;
	margin: auto;
	width: 209px;
	position: relative;
}

#logo_img {
	background-image: url('/static/images/idid_blue_l.png');
	background-repeat: no-repeat;
	width: 209px;
	height: 126px;
}

#content, .categories, .products {
	width: 100%;
	position: relative;
}

#content {
	height: 100%;
}

.categories, .products {
	top: 20px;
}

.categories ul, .products ul {
	width: 100%;
}

.cat_card:hover {
	background-color: #eee;
}

.categories ul li {
	width: 50%;
	position: relative;
	text-align: center;
}

.cat_card #pic {
	margin: auto;
	display: block;
	position: relative;
	top: 25px;
	overflow: hidden;
	position: relative;
}

.cat_card #title {
	clean: both;
	margin: auto;
	display: block;
	position: relative;
	margin-top: 20px;
	font-size: 18pt;
}

.cat_card {
	border-radius: 20px;
	border: 1px solid #333;
	display: block;
	margin: 10px;
}

.search {
	width: 100%;
	margin-top: 20px;
}

.search .box {
	margin: 10px 10px 10px 10px;
	height: 100%;
	border-radius: 20px;
	border: 1px solid #333;
	height: 100%;
	padding: 10px;
	background: #ddd;
}

.search .box .pic {
	background-image: url("/static/images/search.png");
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	float: left;
	margin-top: 5px;
}

.search .box #text {
	height: 40px;
	border: none;
	width: 70%;
	margin-left: 10px;
	background: #ddd;
	width: 70%;
}

.products ul li {
	width: 100%;
	height: 120px;
	border-bottom: 1px solid #ddd;
}

#prod_pic {
	width: 100px;
	height: 114px;
	margin-top: 5px;
	display: inline-block;
}

.prod_content {
	display: inline-block;
	position: relative;
	bottom: 35px;
}

#prod_price {
	margin-left: 10px;
	font-size: 16pt;
}

#prod_title {
	font-size: 14pt;
	margin-left: 10px;
	overflow: hidden;
}