html, body {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width:980px;
  height: 100%;
  margin: auto;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 90%;
  line-height: 1.5em;
  background-color: white;
} 
    
* {
    outline: medium none;
}


ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  font-family: Arial,Helvetica,sans-serif;
  width: 100%
}

h3 span {
  color: #99AA88;
}

a:link    { color: #000000; text-decoration: none;}
a:visited { color: #000000; text-decoration: none; }
a:hover   { color: #999999; text-decoration: none;}
a:active  { color: #999999; text-decoration: none;}

.header {
  height: 100px;
}

.center {
 width: 100%;
 height:100%;
}

#site_name {
  font-size: 32px;
  font-weight: bold;
  color: #FFC911;
  margin-top: 40px;
  margin-left: 10px;
}


.footer {
  border-width: 1px; 
  border-color: #aaaaaa; 
  border-style: dashed;
  height: 50px;
}

.item_list {
  float: left;
}

.item_list ul {
  overflow: hidden;
}

.item_list ul li {
  float: left;
  margin: 4px 5px 0 0;
  overflow: hidden;
  position: relative;
}

.item_list ul li div, .detail_box img {
  width:312px;
  height:356px;
}

.price_tag {
  position: absolute;
  top: 300px;
  text-align: right;
  width:312px;
  height:56px;
  margin: 0 3px 0 0;
  background: rgba(100, 100, 100, .3);
}

.price_tag_price {
  position: absolute;
  top: 30px;
  right: 10px;
  text-align: right;
  color: #eeeeee;
  font-size: 22px;
  font-weight: bold;
}

.price_tag_text {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
  color: #eeeeee;
  font-size: 14px;
  font-weight: bold;
}

.thumb {
  width: 104px;
  height=104px;
  float: left;
}

.center #pleft {
  width: 312px;
  float: left;
}

.center #pright {
  width: 645px;
  float: left;
  margin-left: 20px;
}

#product_title {
  width: 100%;
  height: 40px;
  float: right;
  background-color: #000000;
  color: #ffffff;
}

#product_title #title_text {
  float: left;
}

#product_title h1 {
 padding-left: 20px;
 margin-top: 10px;
}

#cart_symbol {
  width: 32px;
  height: 32px;
  float: right;
  margin-top: 4px;
  margin-right: 10px;
}

#cart_content {
  width: 420px;
  max-height: 350px;
  padding: 20px;
  overflow-y: auto;
  overflow-x:hidden;
}

#cart_popup {
  display: block;
  display: none;
  background:#FFF;
  border:solid 1px #BBBBBB;
  border-radius:10px;
  box-shadow:0px 0px 27px #999;
  position:absolute;
  z-index: 9999;
  right: 310px;
  top: 180px;
}


#add_to_cart_box {
  color: #EEB810;
  float: right;
  margin-right: 20px;
}

#add_to_cart {
  color: #EEB810;
}

#add_to_cart:hover {
  color: #FFC911;
}

#prod_details {
  float: left;
  margin-top: 20px;
  font-size: 16px;
}

#cart_content li {
  float: left;
  clear: left;
}

.cart_title {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.cart_price {
  font-size: 16px;
  font-weight: bold;
  color: #FFC911;
}

.cart_item {
  float: left;
  margin: 25px;
  overflow: hidden;
  width: 250px;
}

.cart_item ul li img {
  margin-bottom: -6px; 
  margin-left: 80px;
}

