html, body {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width:980px;
  height: 100%;
  margin: auto;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 81.2%;
  line-height: 1.5em;
  background-color: white;
} 

* {
    outline: medium none;
}


ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  font-family: Arial,Helvetica,sans-serif;
  width: 100%
}

h3 span {
  color: #99AA88;
}

a:link    { color: #000000; }
a:visited { color: #000000;  }
a:hover   { color: #999999; }
a:active  { color: #999999; }

a.otherLink:link    { color:red; text-decoration:none; }
a.otherLink:visited { color:red; text-decoration:none; }
a.otherLink:hover   { color:green; text-decoration:none; }
a.otherLink:active  { color:red; text-decoration:none; }

.header {
  height: 100px;
}

#site_name {
  font-size: 32px;
  font-weight: bold;
  color: #FFC911;
  margin-top: 40px;
  margin-left: 10px;
}

.center {

}

.footer {
  border-width: 1px; 
  border-color: #aaaaaa; 
  border-style: dashed;
  height: 50px;
}

.products_list {
}

.products_list ul {
  overflow: hidden;
}

.products_list ul li {
  float: left;
  margin: 4px 5px 0 0;
  overflow: hidden;
  position: relative;
}

.products_list ul li div, .detail_box img {
  width:312px;
  height:356px;
}

.price_tag {
  position: absolute;
  top: 300px;
  text-align: right;
  width:312px;
  height:56px;
  margin: 0 3px 0 0;
  background: rgba(100, 100, 100, .3);
}

.price_tag_price {
  position: absolute;
  top: 30px;
  right: 10px;
  text-align: right;
  color: #eeeeee;
  font-size: 22px;
  font-weight: bold;
}

.price_tag_text {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
  color: #eeeeee;
  font-size: 14px;
  font-weight: bold;
}

.thumb {
  width: 104px;
  height=104px;
  float: left;
}

.center #pleft {
  width: 312px;
  float: left;
}

.center #pright {
  width: 600px;
  float: left;
  margin-left: 20px;
}

#product_title {
  width: 100%;
  height: 40px;
}
