<div id="cart_items">
	<div class="products">
		<ul>
			<li data-snip="products">
				<div class="prod_pic"></div>
				<div class="prod_content">
					<div class="prod_title"></div>
					<div class="prod_number">
						<label id="" data-loc="quantity"></label> <input type="text" />
					</div>
					<div class="prod_remove btn" data-loc="delete"></div>
					<div class="prod_price"></div>
				</div>
			</li>
		</ul>

	</div>
	<div>
		<span data-loc="total"></span> <span class="left10" data-snip="total"></span><span
			class="left10">Lei</span>
	</div>
</div>