<html>
<head>

<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<meta name="keywords"
	content="handmade, manual, bijuterii, jucarii, tablouri, vase ceramice si sticla, ceasuri, genti, perne etc." />

<link href="/static/mobile/css/style.css" rel="stylesheet"
	type="text/css" />
<link href="/static/css/sprite.css" rel="stylesheet" type="text/css" />


<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery.base64.min.js"></script>
<script type="text/javascript" src="/static/js/purl.js"></script>
<script type="text/javascript"
	src="http://connect.facebook.net/ro_RO/all.js"></script>

<script type="text/javascript" src="/static/mobile/js/mobile.js"></script>

<script>
	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js',
			'ga');

	ga('create', 'UA-63050669-1', 'auto');
	ga('send', 'pageview');

	(function() {
		$(function() {
			$('.back').click(function() {
				window.history.back();
			});

			$('#search').click(function() {
				$('.search').toggle();
				$('.search .box #text').focus();
			});

			$('#search_text').keypress(function(e) {
	            if (e.which == 13) {
	                var text = $(this).val();
	                window.location.href = '/mobile/products?search=' + text;
	            }
	        });
			
			$('#user').click(function() {
				$('#login').toggle();
			});
			$('#auth').click(function(e) {
				window.common.login('#login_form');
				e.preventDefault();
				false;
			});
			$('#logout').click(function(e) {
				window.common.logout();
				e.preventDefault();
				false;
			});
			
			var search = $.url().param('search');
	        if (search !== undefined) {
	            $('#search_text').val(search);
	        }
		})
	})();
</script>

</head>

<body>
	<div class="fb-root"></div>
	<div class="fb_area"></div>
	<div class="tools">
		<div class="box">
			<div class="logo" id="logo">
				<a href="/mobile"><img src="/static/mobile/images/idid.png" /></a>
			</div>
			<div class="icon back" data-snip="back">
				<img src="/static/mobile/images/arrows.png" />
			</div>
			<div class="icon" id="search">
				<img src="/static/mobile/images/search.png" />
			</div>
			<div class="icon">
				<a href="/mobile/cart"><img
					src="/static/mobile/images/commerce.png" /></a>
			</div>
			<div class="icon" id="user">
				<img src="/static/mobile/images/user.png" />
			</div>
		</div>
	</div>
	<div data-snip="user" class="logged_in">
	  <div class="user_name"></div>
	  <div id="logout" class="btn logout" data-loc="logout"></div>
	</div>
	<div class="search">
		<input id="search_text" type="text" placeholder="loc:search" />
	</div>
	<div id="login">
		<form action="/auth" id="login_form" method="POST">
			<div class="row">
				<label for="username" data-loc="email"></label><input id="username"
					name="username" type="text" />
			</div>
			<div class="row">
				<label for="password" data-loc="password"></label><input
					id="password" name="password" type="password" />
			</div>
		</form>
		<div class="row">
			<div id="auth" class="btn" data-loc="authenticate"></div>
		</div>
	</div>
	<div id="notice_e"></div>
	<div id="notice_connect_e" data-snip="connect_error"></div>
	<div id="notice_i"></div>

	<div id="content"></div>
</body>
</html>

