.sprite {
    background-image: url('/static/images/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-back {
    width: 48px;
    height: 48px;
    background-position: -5px -5px;
}

.sprite-add {
    width: 32px;
    height: 32px;
    background-position: -5px -63px;
}

.sprite-add-item {
    width: 128px;
    height: 128px;
    background-position: -5px -105px;
}

.sprite-add-item-small {
    width: 64px;
    height: 64px;
    background-position: -5px -243px;
}

.sprite-cart_black {
    width: 32px;
    height: 32px;
    background-position: -5px -317px;
}

.sprite-checked_checkbox {
    width: 26px;
    height: 26px;
    background-position: -5px -359px;
}

.sprite-close {
    width: 32px;
    height: 32px;
    background-position: -5px -395px;
}

.sprite-edit {
    width: 32px;
    height: 32px;
    background-position: -5px -437px;
}

.sprite-exclamation {
    width: 64px;
    height: 64px;
    background-position: -5px -479px;
}

.sprite-home {
    width: 32px;
    height: 32px;
    background-position: -5px -553px;
}

.sprite-left {
    width: 32px;
    height: 32px;
    background-position: -5px -595px;
}

.sprite-logout {
    width: 32px;
    height: 32px;
    background-position: -5px -637px;
}

.sprite-minus {
    width: 24px;
    height: 24px;
    background-position: -5px -679px;
}

.sprite-plus {
    width: 32px;
    height: 32px;
    background-position: -5px -713px;
}

.sprite-right {
    width: 32px;
    height: 32px;
    background-position: -5px -755px;
}

.sprite-search {
    width: 32px;
    height: 32px;
    background-position: -5px -797px;
}

.sprite-settings {
    width: 32px;
    height: 32px;
    background-position: -5px -839px;
}

.sprite-unchecked_checkbox {
    width: 26px;
    height: 26px;
    background-position: -5px -881px;
}

.sprite-user {
    width: 32px;
    height: 32px;
    background-position: -5px -917px;
}

.sprite-useradd {
    width: 128px;
    height: 128px;
    background-position: -5px -959px;
}
