html,body {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	font-size: 90%;
	line-height: 1.5em;
	background-color: white;
	height: 100%;
	min-width: 1270px;
}

* {
	outline: medium none;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

b, strong {
  font-weight: bold;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

input {
	height: 26px;
}

textarea, input, select, .preview {
	font-size: 16px;
	border: 1px solid #bbbbbb;
	box-shadow: 0px 0px 15px 1px #dddddd;
}

input[type=checkbox] {
	display: none;
}

input[type="checkbox"]+label {
	background: url('/static/images/unchecked_checkbox.png') no-repeat;
	height: 26px;
	width: 26px;
	padding-right: 42px;
	background-position: right;
}

input[type="checkbox"]:checked+label {
	background: url('/static/images/checked_checkbox.png') no-repeat;
	height: 26px;
	width: 26px;
	background-position: right;
}

label:hover {
	cursor: pointer;
}

label {
  position: relative;
  top: 5px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	float: left;
}

li a {
	font-size: 18px;
	text-decoration: none;
}

h3 span {
	color: #99AA88;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #999999;
	text-decoration: none;
}

a:active {
	color: #999999;
	text-decoration: none;
}

.header {
	height: 60px;
	background-color: #045584;
	color: #ffffff;
	position: fixed;
	width: 100%;
	z-index: 80;
	box-shadow: 0px 0px 30px 1px #444444;
}

.page {
	position: relative;
	top: 80px;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}

.center {
	max-width: 1276px;
	margin: auto;
	position: relative;
}

.footer {
	clear: both;
	height: 99px;
	border-top: 1px solid #dddddd;
	background-color: #333333;
	position: relative;
}

.footer .center {
	font-size: 16px;
	color: #ffffff;
	top: 10px;
	position: relative;
}

.footer * a {
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
}

.footer a:hover {
	color: #999999;
	text-decoration: none;
}

#site_name {
	color: #FFC911;
	font-size: 32px;
	position: relative;
	top: 15px;
}

#item_list {
	float: left;
	width: 100%;
}

#item_list ul {
	overflow: hidden;
}

#item_list ul li {
	float: left;
	margin: 4px 5px 0 0;
	overflow: hidden;
	position: relative;
}

.cat_box {
	border-radius: 10px;
	border: 1px solid #dddddd;
	width: 312px;
	height: 356px;
}

.cat_box:hover {
	box-shadow: inset 0px 0px 40px 1px #dddddd;
	cursor: pointer;
}

.cat_box:hover > .info_tag {
    background : #000000;
}

.cat_box:hover > .info_tag div {
	color: #ffffff;
}

.item_box {
	width: 312px;
	height: 356px;
	border-radius: 10px;
}

.item_box:hover {
    border-radius: 10px;
	box-shadow: inset 0px 0px 40px 1px #dddddd;
	cursor: pointer;
}

.item_box:hover > .info_tag {
    background : #000000;
}


.item_box:hover > .info_tag div {
	color: #ffffff;
}

.item_box:hover > .info_tag .info_tag_cart {
	display: inline;
}

.item_box:hover > .info_tag span {
	color: #ffffff;
}

.info_tag {
	position: relative;
	width: 100%;
	height: 70px;
	top: 256px;
	margin: 0px;
	background: rgba(255, 255, 255, .6);
	box-shadow: 0px 0px 35px 1px #dddddd;
	border-radius: 0 0 10px 10px;
}

.edit_tag {
	position: relative;
	width: 305px;
	height: 30px;
}

.edit_tag_close, .edit_tag_update {
    position: relative;
    float: right;
    top: 5px;
    padding-left: 5px;
}

.info_tag_price {
	position: relative;
	text-align: right;
	top: 20px;
	color: #000000;
	font-size: 22px;
	float: right;
	right: 10px;
}

.info_tag_cart {
	position: relative;
	top: 13px;
	left: 10px;
	text-align: left;
	display: none;
	float: left;
}

.info_tag_text {
	position: relative;
	top: 10px;
	left: 10px;
	color: #000000;
	font-size: 16px;
}

.cat_text {
	font-size: 24px;
	top: 10px;
	color: #000000;
}

.thumb {
	width: 104px;
	float: left;
}

#pleft {
	width: 340px;
	float: left;
}

#pright {
	min-width: 400px;
	width: 910px;
	float: left;
	margin-left: 20px;
}

.quickview #pright {
	width: 600px;
}

#product_title {
	width: 100%;
	position: relative;
	top: 10px;
}

#product_title #title_text {
	float: left;
}

#product_title h1 {
	padding-left: 10px;
	margin-top: 10px;
}

#cart_symbol {
	width: 32px;
	height: 32px;
	float: left;
	margin-top: 4px;
	margin-left: 10px;
}

#cart_content {
	width: 420px;
	max-height: 460px;
	padding: 20px;
	float: left;
	font-size: 16px;
	overflow-y: auto;
	overflow-x: hidden;
}

#cart_popup {
	display: block;
	display: none;
	background: #FFF;
	border: solid 1px #BBBBBB;
	border-radius: 10px;
	box-shadow: 0px 0px 27px #999;
	position: fixed;
	z-index: 9999;
	top: 60px;
	color: #000000;
	opacity: 0.95;
}

#add_to_cart_box {
	float: left;
	font-size: 16px;
	margin-top: 2px;
}

#cart_footer {
	margin-bottom: 20px;
	position: relative;
	width: 100%;
	font-size: 16px;
	float: left;
}

#cart_footer a {
	margin-right: 40px;
	float: right;
}

#cart_footer #total {
	float: left;
	margin-left: 30px;
}

#cart_footer * {
	margin-top: 10px;
}

#cart_empty {
	display: none;
	height: 30px;
	padding: 20px;
	float: left;
	position: relative;
	font-size: 16px;
}

#cart_notice {
	display: none;
	height: 30px;
	padding: 20px;
	float: left;
	position: relative;
	font-size: 16px;
	color: #009900;
}

.prod_details {
	float: left;
	font-size: 16px;
	width: 100%;
}

.prod_header {
	width: 100%;
	height: 40px;
	float: left;
	margin-bottom: 10px;
}

.prod_desc, .prod_specs {
	width: 100%;
	float: left;
	margin-top: 10px;
}

#cart_content li {
	float: left;
	clear: left;
}

.cart_title {
	color: #000000;
}

.cart_price {
	font-size: 16px;
}

.cart_item {
	float: left;
	margin-left: 25px;
	overflow: hidden;
	width: 250px;
}

.cart_item ul li {
	margin-top: 5px;
}

.cart_item ul li img {
	margin-bottom: -6px;
	margin-left: 70px;
}

.cart_item ul li input {
	width: 30px;
	margin-left: 10px;
}

.error {
	width: 100%;
	height: 40px;
	margin-top: 16px;
}

.error div {
	left: 10px;
	float: left;
	position: relative;
}

.error span {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 18px;
}

.navigation {
	float: left;
	font-size: 16px;
	position: relative;
	width: 100%;
	height: 30px;
}

.detailPrice {
	float: left;
	font-size: 32px;
	margin-top: 10px;
	margin-left: 10px;
}

#order {
	float: left;
	padding: 20px 40px 20px 20px;
	position: relative;
	width: 440px;
}

.upload_form_fields input, .select_row select, #order input {
	font-size: 16px;
	height: 26px;
	width: 250px;
	margin-right: 5px;
}

#order form div {
	width: 100%;
	height: 35px;
}

#upload_form label, #order form label {
	text-align: right;
	font-size: 16px;
	position: relative;
}

.upload_form_fields .fields {
    float: left;
    width: 100%;
    max-height: 400px;
    overflow: auto;
}

.upload_form_fields .fields input, .upload_form_fields .fields select {
    float: right;
}

.row {
	height: 35px;
	margin-right: 10px;
}

.upload_form_fields .row {
	width: 100%;
	height: 35px;
	margin-right: 10px;
}

.upload_form_fields .row img {
    position: relative;
    top: 5px;
}

.form_specs .row {
 	width: 100%;
}

.prod_specs .row {
	width: 100%;
	height: 35px;
}

.prod_specs .column1 {
	width: 150px;
	border-right: 1px solid #cccccc;
	float: left;
	margin-right: 10px;
	position: relative;
}

.prod_specs .column2 {
	width: 430px;
	float: left;
	position: relative;
}


.upload_form_fields .fields .select_row {
	width: 100%;
	height: 154px;
	margin-right: 10px;
}

.upload_form_fields .fields .select_row select {
	height: 140px;
}

.upload_form_fields {
    padding: 0 0 20px;
    float: left;
    position: relative;
    width: 100%;
}

.upload_form_fields textarea, .preview {
   width: 100%;
   height: 250px;
   resize: none;
}

.preview {
   display: none;
   overflow: auto;
}

.left {
   float:left;
}

.right {
   float:right;
}


.form_textzone {
   float: left;
   width: 100%;
   height: 330px;
}

.form_specs {
   float: left;
   width: 100%;
   max-height: 400px;
   min-height: 200px;
   overflow: auto;
}

#order a {
	font-size: 16px;
	float: right;
}

#gallery img {
	border: 2px solid white;
}

.active img {
	border: 1px solid #dddddd !important;
}

#logout {
  margin-top: 5px;
}

#search, #logout {
	position: relative;
	float: right;
	margin-right: 10px;
}

#search div {
	float: left;
	margin-top: 6px;
}

#search input {
	background-color: #B7CBD7;
	border: none;
	box-shadow: 0 0 20px 1px #aaaaaa;
	color: #000000;
	border-radius: 10px;
	width: 150px;
}

#search img {
	margin-top: 3px;
	margin-left: 5px;
}

.product_content {
	width: 100%;
	height: 100%;
}

.sort {
	float: left;
	position: relative;
}

.detailPrice strike,.info_tag_price strike {
	color: #ff5500;
}

#logo {
	position: relative;
	float: right;
	bottom: 13px;
	left: 10px;
	width: 120px;
}

#logo a {
	color: #ffffff;
}

.terms {
	float: left;
	font-size: 16px;
}

#terms_wrapper label {
	padding-top: 5px;
	padding-bottom: 5px;
}

#search_text:hover {
	background-color: #eeeeee;
}

#notice_e,#notice_connect_e {
	background-color: #B43104;
	border: 1px solid #8A2908;
	color: #ffffff;
	font-size: 20px;
	height: 28px;
	padding-top: 5px;
	position: fixed;
	text-align: center;
	top: 60px;
	width: 100%;
	display: none;
	z-index: 9999;
}

#notice_i {
	background-color: #4B8A08;
	border: 1px solid #38610B;
	color: #ffffff;
	font-size: 20px;
	height: 28px;
	padding-top: 5px;
	position: fixed;
	text-align: center;
	top: 60px;
	width: 100%;
	display: none;
	z-index: 9999;
}

.menu {
	padding: 0;
	clear: both;
}

.menu li {
	display: inline;
	float: left;
}

.menu li a {
	float: left;
	background: #ffffff;
	padding: 10px;
	text-decoration: none;
	color: #000;
	border-radius: 10px 10px 0px 0px;
}

.menu li.active a {
	background: #f3f3f3;
	float: left;
	border-radius: 10px 10px 0px 0px;
}

.content {
	float: left;
	clear: both;
	background: #f3f3f3;
	border-radius: 0px 10px 10px 10px;
}

#order #pf, #pj {
	padding: 20px;
}

#product_dialog, #product_create_dialog, #category_create_dialog, #category_update_dialog {
	display: none;
	padding: 10px;
}

.quickview {
	text-align: left;
}

.blockMsg {
	border-radius: 10px;
	box-shadow: 0 0 30px 1px #222222;
}

.zoomContainer {
	z-index: 999;
}

.close_dialog {
	float: right;
	position: relative;
}

.close_dialog:hover {
	cursor: pointer;
}

.title_dialog {
	float: left;
	position: relative;
	height: 50px;
}

.content_dialog {
	clear: both;
}

.dialog_footer {
	clear: both;
	position: relative;
	float: left;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.dialog_footer div {
	float: right;
}

.add_item {
    margin-left: 100px;
    margin-top: 114px;
} 

.create_product_tab, #product_details_tab { 
  padding: 0;
  position: relative;
  clear: both;
}

.create_product_tab li, #product_details_tab li { 
  display: inline;
}

.create_product_tab li a, #product_details_tab li a {
 padding: 10px;
 float:left;
 text-decoration: none;
 color: #999999;
 border-bottom: 1px solid #999999;
}

.create_product_tab li.active a, #product_details_tab li.active a {
 border-top: 1px solid;
 border-left: 1px solid;
 border-right: 1px solid;
 border-bottom: none;
 border-color: #999999;
 border-radius: 10px 10px 0px 0px;
 color: #000000;
}

#files {
  float: left;
  clear: both;
  height: 100px;
  position: relative;
  margin-top: 10px;
  width: 100#;
}

#edit {
  float: left;
  clear: both;
  position: relative;
  margin-top: 10px;
  width: 100#;
}

.column {
  position: relative;
  float: left;
}
.specs_title {
  font-size: 16px;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.specs .row {
  width: 100%;
}

#prop_fields input, #edit_prop_fields input {
  width: 220px;
  float: left;
}

.clickable {
  font-size: 16px;
}

.clickable:hover {
  cursor: pointer;
}

.tab_select {
  float: left;
}

.tab_content {
  position: relative;
  top: 20px;
  width: 100%;
  float: left;
}

.horiz_right {
  float: right;
  margin-left: 10px;
}

#save_product {
  font-size: 18px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.create_toggle_text, .edit_toggle_text {
  margin-top: 5px;
}

.form_box {
  width: 400px;
  position: relative;
  top: 60px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px #dddddd;
  padding: 10px;
  font-size: 16px;
}

.auth * {
  float: right;
  margin-top: 10px;
}