html, body {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	font-size: 90%;
	line-height: 1.5em;
	height: 100%;
	min-width: 800px;
}

* {
	outline: medium none;
	margin: 0;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

select {
	border: 1px solid #111;
	background: transparent;
	width: 100px;
	font-size: 16px;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

strike {
	margin-left: 5px;
	margin-right: 5px;
}

table {
	width: 100%;
}

table tr th {
	border-bottom: 1px solid #dddddd;
}

div, span, input, textarea, select {
	font-size: 16px;
}

a {
	font-size: 16px;
}

b, strong {
	font-weight: bold;
}

p {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}

input {
	height: 35px;
}

textarea, input, select, .preview {
	border: 1px solid #bbbbbb;
	box-shadow: 0px 0px 5px 1px #ddd;
}

input[type=checkbox] {
	display: none;
}

input[type="checkbox"]+label {
	background-image: url('/static/images/spritesheet.png');
	background-repeat: no-repeat;
	width: 350px;
	height: 26px;
	background-position: -5px -823px;
	padding: 2px 0px 0px 40px;
}

input[type="checkbox"]:checked+label {
	background-image: url('/static/images/spritesheet.png');
	background-repeat: no-repeat;
	width: 350px;
	height: 26px;
	background-position: -5px -259px;
	padding: 2px 0px 0px 40px;
}

.unique_prod input[type="checkbox"]+label {
	background-image: url('/static/images/spritesheet.png');
	background-repeat: no-repeat;
	width: 150px;
	height: 26px;
	background-position: -5px -823px;
	padding: 2px 0px 0px 40px;
}

.unique_prod input[type="checkbox"]:checked+label {
	background-image: url('/static/images/spritesheet.png');
	background-repeat: no-repeat;
	width: 150px;
	height: 26px;
	background-position: -5px -259px;
	padding: 2px 0px 0px 40px;
}

label:hover {
	cursor: pointer;
}

label {
	position: relative;
	top: 10px;
	float: left;
	margin-right: 10px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	float: left;
}

li a {
	font-size: 18px;
	text-decoration: none;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #999999;
	text-decoration: none;
}

a:active {
	color: #999999;
	text-decoration: none;
}

.btn {
	padding: 10px 10px 10px 10px;
	border: 1px solid #999999;
	text-decoration: none;
	position: relative;
	display: inline-block;
}

.btn:hover {
	border: 1px solid #000000;
	background: #efefef;
	text-decoration: none;
	cursor: pointer;
}

.header {
	position: fixed;
	width: 100%;
	z-index: 80;
	background-color: #333333;
	color: #ffffff;
}

.header_top {
	background: #296872;
}

.header_container {
	overflow: auto;
	height: 70px;
}

.header_controls {
	float: right;
}

.header_nav ul {
	margin-left: 50px;
	position: relative;
}

.header ul li {
	float: left;
	font-size: 18px;
	position: relative;
	margin-right: 5px;
}

.head_links {
	left: 220px;
	top: 30px;
	float: left;
	position: relative;
}

.head_links * {
	font-size: 18px;
}

.head_links a:link {
	color: #44adb7;
	text-decoration: none;
}

.head_links a:visited {
	color: #44adb7;
	text-decoration: none;
}

.head_links a:hover {
	color: #d687ba;
	text-decoration: none;
}

.head_links a:active {
	color: #44adb7;
	text-decoration: none;
}

.header_user_top {
	top: 10px;
}

.header_user {
	float: right;
	position: relative;
}

.header_user ul {
	float: right;
}

#current_user {
	margin-top: 5px;
}

.header_nav {
	position: relative;
	float: left;
}

.header_nav ul li {
	margin-right: 20px;
}

.header_symbol {
	position: relative;
	float: right;
	padding-top: 28px;
}

.header_symbol_top {
	padding-top: 20px;
}

.header_symbol ul li {
	margin-left: 5px;
}

.products_page {
	position: relative;
	padding-top: 150px;
	padding-bottom: 120px;
}

.page {
	position: relative;
	padding-top: 150px;
	padding-bottom: 120px;
}

.controls {
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	clear: both;
	color: #000000;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -110px;
}

.center {
	max-width: 90%;
	margin: auto;
	position: relative;
}

.footer {
	clear: both;
	height: 100px;
	border-top: 1px solid #dddddd;
	background-color: #402838;
	position: relative;
	top: 10px;
}

.footer * {
	color: #dddddd;
}

.footer .center {
	top: 10px;
	position: relative;
}

.footer .center ul li {
	margin-top: 5px;
}

.footer * a {
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
}

.footer a:hover {
	color: #999999;
	text-decoration: none;
}

#site_name {
	color: #FFC911;
	font-size: 32px;
	position: relative;
	top: 15px;
}

#item_list {
	float: left;
	width: 100%;
	display: none;
}

#item_list ul {
	overflow: hidden;
}

#item_list ul li {
	float: left;
	overflow: hidden;
	position: relative;
}

.cat_box {
	border-radius: 10px;
	box-shadow: inset 0px 0px 1px 1px #ddd;
	height: 140px;
	width: 200px;
	position: relative;
	z-index: 0;
	top: 10px;
	margin: 0 5px 20px 10px;
}

.cat_box:hover {
	cursor: pointer;
	box-shadow: 0px 0px 10px 1px #999;
	z-index: 1;
}

.item_box {
	width: 312px;
	height: 424px;
	border-radius: 10px;
	z-index: 0;
	position: relative;
	box-shadow: inset 0px 0px 1px 1px #ddd;
	overflow: hidden;
	margin: 20px 20px 20px 20px;
}

.item_box:hover {
	box-shadow: 0px 0px 10px 1px #999;
	z-index: 1;
	cursor: pointer;
	position: relative;
}

.pres_item_box {
	border-radius: 5px;
	z-index: 0;
	position: relative;
	box-shadow: inset 0px 0px 1px 1px #ddd;
	width: 200px;
	height: 140px;
	background: no-repeat center center;
	background-size: contain;
}

.pres_item_box:hover {
	box-shadow: 0px 0px 10px 1px #999;
	z-index: 1;
	cursor: pointer;
	position: relative;
}

.item_box:hover>.edit_tag .edit_tag_close, .item_box:hover>.edit_tag .edit_tag_update
	{
	display: block;
}

.cat_box:hover>.edit_tag .edit_tag_close, .cat_box:hover>.edit_tag .edit_tag_update
	{
	display: block;
}

.info_tag {
	background: #ffffff;
	color: #000000;
	border-radius: 0 0 10px 10px;
	height: 67px;
	margin: 0;
	position: relative;
	top: 316px;
	margin: 0 1px;
}

.cat_info_tag {
	border: none;
	top: 60px;
	height: 37px;
	border-top: 1px solid #eeeeee;
}

.edit_tag {
	position: relative;
	width: 100%;
	height: 40px;
}

.edit_tag_close, .edit_tag_update {
	position: relative;
	float: right;
	top: 5px;
	padding-left: 5px;
	display: none;
	z-index: 1;
}

.info_tag_price {
	position: relative;
	text-align: right;
	top: 20px;
	font-size: 26px;
	float: right;
	right: 10px;
	font-weight: 400;
	color: #000;
}

.info_tag_price * {
	font-size: 22px;
}

.info_tag_cart {
	position: relative;
	top: 10px;
	left: 10px;
	text-align: left;
	float: left;
}

.info_tag_text {
	position: relative;
	top: 10px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.cat_text {
	top: 10px;
}

.thumb {
	width: 104px;
	float: left;
}

#pleft {
	float: left;
	width: 380px;
}

#pright {
	margin-left: 400px;
	PADDING-RIGHT: 20px;
}

h1 {
	padding-left: 10px;
	margin-top: 10px;
	font-size: 32px;
}

#cart_content {
	max-height: 460px;
	padding: 20px;
	float: left;
	overflow-y: auto;
	overflow-x: hidden;
}

#cart_popup {
	display: none;
	background: #FFF;
	border: solid 1px #BBBBBB;
	border-radius: 10px;
	box-shadow: 0px 0px 27px #999;
	position: fixed;
	z-index: 9999;
	opacity: 0.95;
	right: 0px;
	top: 70px;
}

#user_popup {
	display: none;
	background: #FFF;
	border: solid 1px #BBBBBB;
	border-radius: 10px;
	box-shadow: 0px 0px 27px #999;
	position: fixed;
	z-index: 9999;
	right: 0px;
	opacity: 0.95;
	padding: 20px;
	top: 70px;
}

#add_to_cart_box {
	float: left;
	margin-top: 2px;
}

#cart_footer {
	margin-bottom: 20px;
	position: relative;
	float: left;
	clear: both;
	border-top: 1px solid #dddddd;
	width: 100%;
}

#cart_footer a {
	margin-right: 40px;
	float: right;
	font-size: 20px;
}

#cart_footer #total {
	float: left;
	margin-left: 30px;
	margin-right: 40px;
	font-size: 20px;
}

#cart_footer * {
	margin-top: 10px;
}

#cart_empty {
	display: none;
	padding: 20px;
	float: left;
	position: relative;
}

#cart_notice {
	display: none;
	height: 30px;
	padding: 20px;
	float: left;
	position: relative;
	color: #009900;
}

.prod_details {
	float: left;
}

.prod_header {
	height: 40px;
	float: left;
	margin-bottom: 10px;
}

.prod_desc, .prod_specs {
	width: 100%;
	float: left;
	margin-top: 10px;
}

#cart_content li {
	float: left;
	clear: left;
	margin-top: 5px;
}

.cart_item_box {
	box-shadow: 0px 0px 10px #999;
	border-radius: 10px;
	display: inline-block;
	width: 400px;
}

.cart_item_box a {
	float: left;
}

.cart_item {
	float: left;
	margin-left: 25px;
	margin-top: 10px;
	overflow: hidden;
	width: 230px;
}

.cart_item ul li {
	margin-top: 5px;
}

.cart_item a {
	float: right;
	padding: 5px;
}

.cart_item ul li img {
	margin-bottom: -6px;
	margin-left: 70px;
}

.cart_item ul li input {
	width: 30px;
	margin-left: 10px;
}

.error {
	width: 100%;
	height: 40px;
	margin-top: 16px;
}

.error div {
	left: 10px;
	float: left;
	position: relative;
}

.error span {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 10px;
	font-size: 18px;
}

.navigation {
	clear: both;
	height: 35px;
	padding-top: 20px;
	padding-left: 220px;
	position: relative;
	width: 100%;
}

.navigation span {
	bottom: 7px;
	position: relative;
}

.navigation select {
	bottom: 5px;
	margin-left: 10px;
	position: relative;
}

.detailPrice {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.detailPrice span {
	font-size: 24px;
}

#order {
	float: left;
	padding: 20px 40px 20px 20px;
	position: relative;
}

.order_status {
	float: right;
}

.upload_form_fields input, .select_row select, #order input {
	width: 250px;
	margin-right: 5px;
	float: left;
}

#upload_form label, #order form label {
	position: relative;
}

.upload_form_fields .fields {
	float: left;
	width: 100%;
	overflow: auto;
}

#order input, .fields input, .fields span, .upload_form_fields .fields select
	{
	float: right;
	margin-left: 10px;
}

.fields span {
	margin-top: 5px;
}

.row {
	height: 45px;
	width: 100%;
	text-align: left;
	clear: both;
}

.row_simple {
	clear: both;
	width: 100%;
}

.upload_form_fields .row img {
	position: relative;
	top: 5px;
}

.prod_specs table tr:nth-child(odd) {
	background: #EEE;
}

.prod_specs table tr:nth-child(even) {
	background: #FFF;
}

.prod_specs table tr {
	height: 30px;
}

.upload_form_fields .fields .select_row {
	width: 100%;
	height: 154px;
	margin-right: 10px;
}

.upload_form_fields .fields .select_row select {
	height: 140px;
}

#edit_fields select {
	height: 219px;
	width: 160px;
}

.upload_form_fields {
	padding: 0 0 20px;
	float: left;
	position: relative;
	width: 100%;
}

#create_description {
	height: 250px;
	width: 100%;
	resize: none;
}

#edit_description {
	height: 250px;
	width: 100%;
	resize: none;
}

.preview {
	display: none;
	overflow: auto;
	height: 250px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.form_textzone {
	float: left;
	width: 100%;
	height: 330px;
}

.form_specs {
	float: left;
	width: 100%;
	max-height: 400px;
	min-height: 200px;
	overflow: auto;
}

#order a {
	float: right;
}

#gallery {
	height: 121px;
	overflow: hidden;
	width: 302px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

#gallery_left, #gallery_right {
	margin-top: 45px;
}

#gallery ul {
	width: 4000px;
	transition: transform 0.3s ease-in-out;
}

#gallery ul li {
	float: left;
}

#presentation {
	height: 160px;
	overflow: hidden;
	width: 100%;
	float: left;
}

#presentation ul {
	width: 20000px;
}

#presentation ul li {
	float: left;
	margin: 10px 5px 20px 10px;
}

.active img {
	border: 1px solid #dddddd !important;
}

#search input {
	border: 1px solid #cccccc;
	width: 200px;
	height: 32px;
	color: #000000;
	font-size: 20px;
	text-indent: 32px;
}

.search_text:hover {
	border-color: #000000;
}

#search img {
	margin-top: 3px;
	margin-left: 5px;
}

.product_content {
	height: 100%;
	display: inline-block;
	position: relative;
	box-shadow: 0px 0px 10px 1px #999;
	border-radius: 10px;
	padding: 10px;
	background-color: #ffffff;
}

.product_content_simple {
	height: 100%;
	display: inline-block;
	position: relative;
	padding: 10px;
	background-color: #ffffff;
}


.product_detail_border {
	display: inline-block;
	padding: 10px;
}

.sort {
	float: left;
	position: relative;
}

.detailPrice strike, .info_tag_price strike {
	color: #ff5500;
}

#logo {
	top: 10px;
	float: left;
	position: relative;
}

#logo_img {
	background-image: url('/static/images/idid_blue_l.png');
	background-repeat: no-repeat;
	width: 209px;
	height: 126px;
	background-repeat: no-repeat;
	position: absolute;
}

#logo_img:hover {
	background-image: url('/static/images/idid_gray_l.png');
}

.terms {
	float: left;
}

#notice_e, #notice_connect_e {
	background-color: #B43104;
	border: 1px solid #8A2908;
	color: #ffffff;
	font-size: 20px;
	height: 36px;
	padding-top: 5px;
	position: fixed;
	text-align: center;
	width: 100%;
	display: none;
	z-index: 9999;
}

#notice_i {
	background-color: #4B8A08;
	border: 1px solid #38610B;
	color: #ffffff;
	font-size: 20px;
	height: 36px;
	padding-top: 5px;
	position: fixed;
	text-align: center;
	width: 100%;
	display: none;
	z-index: 9999;
}

.menu {
	padding: 0;
	clear: both;
}

.menu li {
	display: inline;
	float: left;
}

.menu li a {
	float: left;
	background: #ffffff;
	padding: 10px;
	text-decoration: none;
	border-radius: 10px 10px 0px 0px;
}

.menu li.active a {
	background: #f3f3f3;
	float: left;
	border-radius: 10px 10px 0px 0px;
}

#order>div {
	float: left;
	clear: both;
	background: #f3f3f3;
	border-radius: 0px 10px 10px 10px;
}

#order #pf, #pj {
	padding: 20px;
}

#product_create_dialog, #category_create_dialog, #item_order_dialog,
	#category_update_dialog, #newuser_popup {
	display: none;
	padding: 10px;
}

.quickview {
	text-align: left;
}

.blockMsg {
	border-radius: 10px;
	box-shadow: 0 0 30px 1px #999;
}

.zoomContainer {
	z-index: 999;
}

.close_dialog, .close_product_dialog, .close_item_order_dialog {
	float: right;
	position: relative;
}

.close_dialog:hover, .close_product_dialog:hover,
	.close_item_order_dialog:hover {
	cursor: pointer;
}

.title_dialog {
	float: left;
	position: relative;
	height: 50px;
	font-size: 24px;
}

.content_dialog {
	clear: both;
}

.dialog_footer {
	clear: both;
	position: relative;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.dialog_footer div {
	float: right;
	margin-right: 7px;
}

.add_item div {
	position: relative;
	top: 148px;
	left: 92px;
}

.cat_add_item div {
	position: relative;
	top: 38px;
	left: 68px;
}

.create_product_tab, #product_details_tab {
	padding: 0;
	position: relative;
	clear: both;
}

.create_product_tab li, #product_details_tab li {
	display: inline;
}

.create_product_tab li a, #product_details_tab li a {
	padding: 10px;
	float: left;
	text-decoration: none;
	border-bottom: 1px solid #999999;
}

.create_product_tab li.active a, #product_details_tab li.active a {
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: none;
	border-color: #999999;
	border-radius: 10px 10px 0px 0px;
}

#files {
	float: left;
	clear: both;
	height: 100px;
	position: relative;
	margin-top: 10px;
	width: 100%;
}

#edit {
	float: left;
	clear: both;
	position: relative;
	width: 100%;
}

.column {
	position: relative;
	float: left;
}

.cart_form_column {
	width: 380px
}

.specs_title {
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

#prop_fields input, #edit_prop_fields input {
	width: 220px;
	float: left;
}

.clickable:hover {
	cursor: pointer;
}

.tab_select {
	float: left;
	clear: both;
}

.tab_content {
	position: relative;
	top: 20px;
	width: 100%;
	float: left;
}

.horiz_right {
	float: right;
	margin-left: 10px;
}

#save_product {
	font-size: 18px;
}

.hidden {
	display: none;
}

.create_toggle_text, .edit_toggle_text {
	margin-top: 5px;
}

.auth {
	clear: both;
	overflow: auto;
	text-align: center;
}

.auth a {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.top5 {
	top: 5px;
	position: relative;
}

.top10 {
	top: 10px;
	position: relative;
}

.top20 {
	top: 20px;
	position: relative;
}

.paddingtop10 {
	padding-top: 10px;
}

.paddingbottom10 {
	padding-bottom: 10px;
}

.paddingtop20 {
	padding-top: 20px;
}

.left10 {
	margin-left: 10px;
	position: relative;
}

.left20 {
	margin-left: 20px;
	position: relative;
}

.left30 {
	margin-left: 30px;
	position: relative;
}

.right20 {
	margin-right: 20px;
}

.right10 {
	margin-right: 10px;
}

.bordertop {
	border-top: 1px solid #cccccc;
}

.userinputs {
	width: 440px;
}

.addressinputs {
	width: 430px;
}

.accordion {
	margin-top: 20px;
}

.accordion .accordion_title, .accordion .accordion_content {
	padding: 10px;
	border-bottom: 0;
}

.accordion>.accordion_content {
	display: none;
}

.accordion .accordion_title {
	border-top: 1px solid #cccccc;
}

.accordion .accordion_title a, .accordion .accordion_title a {
	display: inline;
}

.accordion_title {
	clear: both;
}

.address_template {
	display: none;
}

.address_name {
	padding-left: 10px;
	padding-right: 10px;
}

.address_nav {
	display: none;
}

.order_button {
	margin-right: 5px;
}

#newuser_form input {
	width: 250px;
}

#login_form input {
	width: 253px;
	margin-left: 10px;
}

#login_form label {
	margin-left: 20px;
	margin-right: 20px;
}

.prod_price_line {
	border-left: 1px solid #666666;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	padding-left: 20px;
	font-size: 20px;
}

.page_text {
	margin-top: 30px;
}

.fb_area {
	position: relative;
	top: 15px;
}

.cart_item_content {
	float: left;
	width: 290px;
}

.del_cart_item {
	margin-top: 5px;
	float: left;
	position: relative;
}

#fb-share-button {
	float: left;
	margin-top: 5px;
	margin-right: 10px;
}

.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#fileselect {
	max-width: 280px;
}

.unique_label {
	width: 200px;
	background: #aaa;
	position: absolute;
	text-align: center;
	line-height: 40px;
	letter-spacing: 1px;
	color: #fff;
	top: 15px;
	right: -60px;
	left: auto;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	font-size: 20px;
}

.order_edit_status {
	float: right;
}

#sortSelect {
	width: 150px;
}

#updatesettings_form input, #search_orders {
	width: 250px;
}

#product_comments {
	width: 360px;
	height: 200px;
	display: inline-block;
	resize: none;
}

#galery {
	max-height: 130px;
	overflow: auto;
}

.item_option {
	margin-left: 10px;
	width: 400px;
}

#create_customize ul li, #edit_customize ul li {
	float: left;
	margin-right: 30px;
}

.transport {
	width: 375px;
	height: 35px;
	cursor: pointer;
	background: #fff;
}

#sel_img {
	margin-left: 37px;
}

.order_info {
	margin-bottom: 20px;
	width: auto;
}

.order_info td {
	padding-right: 20px;
}

.width100 {
	width: 100px;
}

.left_sep {
	padding-left: 30px;
	border-left: 1px solid #ccc;
}