html,body {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	font-family: 'Lato', sans-serif;
	font-size: 90%;
	line-height: 1.5em;
	background-color: white;
	height: 100%;
	min-width: 1270px;
}

* {
	outline: medium none;
	margin: 0;
	font-weight: 300;
}

input {
	font-size: 16px;
	height: 26px;
	border: 1px solid #bbbbbb;
	box-shadow: 0px 0px 15px 1px #dddddd;
	font-family: 'Quicksand', sans-serif;
}

input[type=checkbox] {
	display: none;
}

input[type="checkbox"]+label {
	background: url('/static/images/unchecked_checkbox.png') no-repeat;
	height: 26px;
	width: 26px;
	padding-right: 42px;
	background-position: right;
}

input[type="checkbox"]:checked+label {
	background: url('/static/images/checked_checkbox.png') no-repeat;
	height: 26px;
	width: 26px;
	background-position: right;
}

label:hover {
	cursor: pointer;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

li a {
	font-size: 18px;
	text-decoration: none;
	width: 100%
}

h3 span {
	color: #99AA88;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #999999;
	text-decoration: none;
}

a:active {
	color: #999999;
	text-decoration: none;
}

.header {
	height: 60px;
	background-color: #045584;
	color: #ffffff;
	position: fixed;
	width: 100%;
	z-index: 9999;
	box-shadow: 0px 0px 30px 1px #444444;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}

.center {
	max-width: 1270px;
	margin: auto;
	position: relative;
}

.footer {
	clear: both;
	height: 99px;
	border-top: 1px solid #dddddd;
	background-color: #eeeeee;
	position: relative;
}

.footer .center {
	font-size: 16px;
	color: #777777;
	top: 10px;
	position: relative;
}

.footer * a {
	font-size: 16px;
	color: #777777;
	text-decoration: none;
}

.footer a:hover {
	color: #999999;
	text-decoration: none;
}

#site_name {
	color: #FFC911;
	font-size: 32px;
	position: relative;
	top: 15px;
}

#item_list {
	float: left;
	width: 100%;
}

#item_list ul {
	overflow: hidden;
}

#item_list ul li {
	float: left;
	margin: 4px 5px 0 0;
	overflow: hidden;
	position: relative;
}

.cat_box {
	border: 1px solid #dddddd;
	width: 312px;
	height: 356px;
}

.item_box {
	width: 312px;
	height: 356px;
}

.info_tag {
	position: relative;
	width: 305px;
	height: 70px;
	top: 280px;
	margin: 3px;
	background: rgba(255, 255, 255, .5);
	box-shadow: 0px 0px 35px 1px #dddddd;
}

.info_tag_price {
	position: relative;
	text-align: right;
	top: 20px;
	color: #000000;
	font-size: 22px;
	float: right;
	right: 10px;
}

.info_tag_cart {
	position: relative;
	top: 13px;
	left: 10px;
	text-align: left;
	display: none;
	float: left;
}

.info_tag_text {
	position: relative;
	top: 10px;
	left: 10px;
	color: #000000;
	font-size: 16px;
}

.cat_tag {
	
}

.cat_text {
	font-size: 24px;
	top: 10px;
	color: #000000;
}

.thumb {
	width: 104px;
	float: left;
}

.center #pleft {
	width: 340px;
	float: left;
}

.center #pright {
	min-width: 400px;
	width: 910px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

#product_title {
	width: 100%;
	position: relative;
	top: 10px;
}

#product_title #title_text {
	float: left;
}

#product_title h1 {
	padding-left: 10px;
	margin-top: 10px;
}

#cart_symbol {
	width: 32px;
	height: 32px;
	float: left;
	margin-top: 4px;
	margin-left: 10px;
}

#cart_content {
	width: 420px;
	max-height: 460px;
	padding: 20px;
	float: left;
	font-size: 16px;
	overflow-y: auto;
	overflow-x: hidden;
}

#cart_popup {
	display: block;
	display: none;
	background: #FFF;
	border: solid 1px #BBBBBB;
	border-radius: 10px;
	box-shadow: 0px 0px 27px #999;
	position: fixed;
	z-index: 9999;
	top: 60px;
	color: #000000;
	opacity: 0.95;
}

#add_to_cart_box {
	float: left;
	font-size: 16px;
	margin-top: 2px;
}

#cart_footer {
	margin-bottom: 20px;
	margin-top: 30px;
	position: relative;
	width: 100%;
	font-size: 16px;
	float: left;
}

#cart_footer a {
	margin-right: 40px;
	float: right;
}

#cart_footer #total {
	float: left;
	margin-left: 30px;
}

#cart_footer * {
	margin-top: 10px;
}

#cart_empty {
	display: none;
	height: 30px;
	padding: 20px;
	float: left;
	position: relative;
	font-size: 16px;
}

#cart_notice {
	display: none;
	height: 30px;
	padding: 20px;
	float: left;
	position: relative;
	font-size: 16px;
	color: #009900;
}

.prod_details {
	float: left;
	margin-top: 20px;
	font-size: 16px;
	width: 100%;
}

.prod_header {
	width: 100%;
	height: 40px;
	float: left;
	border-bottom: 1px solid #dddddd;
}

.prod_desc {
	width: 100%;
	float: left;
	margin-top: 10px;
}

#cart_content li {
	float: left;
	clear: left;
}

.cart_title {
	color: #000000;
}

.cart_price {
	font-size: 16px;
}

.cart_item {
	float: left;
	margin-left: 25px;
	overflow: hidden;
	width: 250px;
}

.cart_item ul li {
	margin-top: 5px;
}

.cart_item ul li img {
	margin-bottom: -6px;
	margin-left: 70px;
}

.cart_item ul li input {
	width: 30px;
	margin-left: 10px;
}

.error {
	width: 100%;
	height: 40px;
	margin-top: 16px;
}

.error div {
	left: 10px;
	float: left;
	position: relative;
}

.error span {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 18px;
}

.navigation {
	float: left;
	font-size: 16px;
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 66px;
}

.detailPrice {
	float: left;
	font-size: 32px;
	margin-top: 10px;
	margin-left: 10px;
}

#order {
	float: left;
	height: 280px;
	padding: 20px 40px 20px 20px;
	position: relative;
	width: 400px;
}

#order input {
	float: right;
	font-size: 16px;
	height: 26px;
	width: 280px;
}

#order form div {
	width: 100%;
	height: 35px;
}

#order form label {
	text-align: right;
	font-size: 16px;
	position: relative;
	top: 5px;
}

#order a {
	font-size: 16px;
	float: right;
}

#gallery img {
	border: 2px solid white;
}

.active img {
	border: 1px solid #dddddd !important;
}

#search {
	position: relative;
	float: right;
	margin-right: 10px;
}

#search div {
	float: left;
	margin-top: 6px;
}

#search input {
	background-color: #B7CBD7;
	border: none;
	box-shadow: 0 0 20px 1px #aaaaaa;
	color: #000000;
	border-radius: 10px;
	width: 150px;
}

#search img {
	margin-top: 3px;
	margin-left: 5px;
}

.product_content {
	width: 100%;
	height: 100%;
}

.sort {
	float: left;
	position: relative;
}

.detailPrice strike,.info_tag_price strike {
	color: #ff5500;
}

#logo {
	position: relative;
	float: right;
	bottom: 13px;
	left: 10px;
	width: 120px;
}

#logo a {
	color: #ffffff;
}

.terms {
	float: left;
	font-size: 16px;
	margin-top: 80px;
}


#terms_wrapper label {
	padding-top: 5px;
	padding-bottom: 5px;
}

#search_text:hover {
	background-color: #eeeeee;
}

.cat_content {
	margin-top: 66px;
}

#notice_e, #notice_connect_e {
    background-color: #B43104;
    border: 1px solid #8A2908;
    color: #ffffff;
    font-size: 20px;
    height: 28px;
    padding-top: 5px;
    position: fixed;
    text-align: center;
    top: 60px;
    width: 100%;
    display: none;
    z-index: 9999;
}

#notice_i {
    background-color: #4B8A08;
    border: 1px solid #38610B;
    color: #ffffff;
    font-size: 20px;
    height: 28px;
    padding-top: 5px;
    position: fixed;
    text-align: center;
    top: 60px;
    width: 100%;
    display: none;
    z-index: 9999;
}